{% load static %}
<html>

<head>
    <title>Paper Recommender | Login</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

</head>

<body>
    <div class="container">

        <h1 class="display-3">Paper Recommender</h1>
        <h2 class="lead">ログイン</h2>
        <div class="row">
            {% if message %}
            <p>{{message}}</p>
            {% endif %}
            <form action="{% url 'user:login' %}" method="post" class="col-lg-5">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="ログイン" class="form-control">
            </form>

        </div>
        <div class="row">
            <a href="{% url 'user:signup' %}">ユーザー登録</a>
        </div>

    </div>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>