{% load static %}
<html>

<head>
    <title>Paper Recommender | Main Menu</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <h1 class="display-3">Paper Recommender</h1>
            <p>Username: {{user.username}}</p>
            <p>
                <a href="{% url 'user:setting' %}">設定</a>
                <a href="{% url 'user:logout' %}">ログアウト</a>
            </p>

            <div class="container mt-2">
                <h2 class="lead">国際会議一覧</h2>
                <ul class="nav nav-tabs" id="conferences_menu" role="tablist">
                    {% for conf_name in conferences %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="{{conf_name.name}}-tab" data-bs-toggle="tab"
                            data-bs-target="#{{conf_name.name}}-content" role="tab"
                            aria-controls="{{conf_name.name}}-content" aria-selected="false">{{conf_name.name}}</button>
                    </li>
                    {% endfor %}
                </ul>
                <div class="tab-content border" id="conference_contents">
                    {% for conf_name in conferences %}
                    <div class="tab-pane fade" id="{{conf_name.name}}-content" role="tabpanel"
                        aria-labelledby="{{conf_name.name}}-tab">
                        <ul>
                            {% for conf in conf_name.conf_year.all|dictsortreversed:"year" %}
                            <li>
                                <a href="{% url 'recommend:get_recommendation' conf.pk 100 %}">
                                    {{conf.year}}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="container mt-3">
                <h2 class="lead">お気に入り論文</h2>
                <div class="row border">
                    <h3 class="lead">論文の追加</h3>
                    <form method="post" action="">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input type="submit" class="form-control" value="追加">
                    </form>
                </div>
                <div class="row mt-3">
                    <div class="accordion">
                        {% for paper in papers %}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse-{{paper.pk}}" aria-expanded="false"
                                    aria-controls="collapse-{{paper.pk}}">
                                    {{paper.title}}
                                </button>
                            </h2>
                            <div id="collapse-{{paper.pk}}" class="accordion-collapse collapse"
                                aria-labelledby="heading-{{paper.pk}}">
                                <div class="accordion-body">
                                    <h3 class="lead">Abstract</h3>
                                    <p>{{paper.abstract}}</p>
                                    <h3 class="lead">Memo</h3>
                                    <p class="small js-autolink">{{paper.memo}}</p>
                                    <p class="small"><a href="{% url 'recommend:remove' paper.pk %}">削除</a></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
            <script src="{% static 'jquery/jquery.js' %}"></script>
            <script src="{% static 'auto_link.js' %}"></script>
</body>

</html>