{% load static %}
<html>

<head>
    <title>Paper Recommender | Recommendation</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 class="display-3">Paper Recommender</h1>
        <h2 class="lead"><a href="{{conference.url}}" target="_blank" rel="noopener noreferrer">{{conference}}</a></h2>
        {% if message %}
        <div class="alert alert-warning">{{message}}</div>
        {% endif %}
        <div class="row">

            <div class="col">
                <div>
                    <a href="{% url 'recommend:index' %}">戻る</a>
                    <a href="{% url 'user:logout' %}">ログアウト</a>
                </div>
            </div>
            <div class="col text-end">
                <div class="dropdown">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        表示件数
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item"
                                href="{% url 'recommend:get_recommendation' conference.pk 100 %}">100</a></li>
                        <li><a class="dropdown-item"
                                href="{% url 'recommend:get_recommendation' conference.pk 200 %}">200</a></li>
                        <li><a class="dropdown-item"
                                href="{% url 'recommend:get_recommendation' conference.pk 500 %}">500</a></li>
                        <li><a class="dropdown-item"
                                href="{% url 'recommend:get_recommendation' conference.pk %}">All</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion mt-3">
            {% for idx, paper in papers.iterrows %}
            <div class="accordion-item">
                <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-{{paper.pk}}" aria-expanded="false"
                        aria-controls="collapse-{{paper.pk}}">
                        {{paper.title}} {% if paper.distance > 0 %}({{paper.distance}}){% endif %}
                    </button>
                </h3>
                <div id="collapse-{{paper.pk}}" class="accordion-collapse collapse"
                    aria-labelledby="heading-{{paper.pk}}">
                    <div class="accordion-body">
                        <h4 class="lead">Title</h4>
                        <p>{{paper.title}}</p>
                        <h4 class="lead">Abstract</h4>
                        <p>{{paper.abstract}}</p>
                        <p class="small">
                            <a href="{{paper.url}}" target="_blank" rel="noopener noreferrer">[link]</a>
                            {% if paper.distance %}
                            <a class="add_fav" paper_pk="{{paper.pk}}" id="paper-{{paper.pk}}"
                                href="javascript:void(0);">
                                [favorite]
                            </a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'ajax_csrf.js' %}"></script>
    <script>
        $(".add_fav").click(e => {
            e.preventDefault();
            $.ajax({
                "url": "{% url 'recommend:add_favorite' %}",
                "type": "POST",
                "data": {
                    "pk": $(e.target).attr("paper_pk"),
                },
                "dataType": "json"
            }).done(response => {
                if (response.state !== "success") return;

                const elem = $("#paper-" + response.pk);
                elem.text("[added]");
                elem.removeClass("add_fav");
                elem.contents().unwrap();
            });
        });
    </script>
</body>

</html>